.site-layout .header {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header .header-right {
    margin: 15px;
    flex-wrap: wrap;
}

.header .header-right .button-change{
    align-items: center;
    display: flex;
}

.header .header-right .button-change .button-change-icon{
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.header .header-right .header-right-language {
    font-weight: bold;
    color: black;
}

.header .header-right .header-right-account {
    font-weight: bold;
    color: #0066cc;
}
@media only screen and (max-width: 1023px) {

    .header .header-right .button-change{
        
        font-size: 12px;
        align-items: center;
        display: flex;
        justify-content: center;
        
        padding: 5px;
        margin: 0;
    }

    .header .header-right .button-change .button-change-icon{
        font-size: 14px;
        margin: auto;
        display: flex;
        justify-content: center;
        transform: translate(3.5px, 0);
    }

    .header-right-buttonText{
        display: none;
        
    }

    .header-right-languageText{
        display: none;
    }

    .header-right-languageIcon{
        transform: translate(3.5px, 0);
    }

    .header-right-accountText{
        display: none;
    }

}

@media only screen and (max-width: 563px) {
    .header .header-right .button-change{
        
        font-size: 12px;
        align-items: center;
        display: flex;
        justify-content: center;
        
        padding: 5px;
        margin: 0;
    }

    .header .header-right .button-change .button-change-icon{
        font-size: 14px;
        margin: auto;
        display: flex;
        justify-content: center;
        transform: translate(3.5px, 0);
    }

    .header-right{
        display: none;
    }
}